# Dependencies
node_modules

# Build outputs
.next
dist
build

# Environment files
.env
.env.local
.env.*.local
apps/backend/.env
apps/frontend/.env.local
apps/frontend/.env.development
apps/frontend/.env.production

# Log files
*.log
*.err

# PID files
*.pid

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/settings.json
.idea

# Temporary files
*.tmp
*.temp
