/**
 * Bubble Foam Effect and Animations
 * ==================================================
 * Animated bubble background effects
 */

/* Bubble Foam Effect */
.bubble-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.bubble {
    position: absolute;
    bottom: -100px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    animation: rise 15s infinite ease-in;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.bubble:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 12s;
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 20%;
    animation-duration: 14s;
    animation-delay: 2s;
}

.bubble:nth-child(3) {
    width: 30px;
    height: 30px;
    left: 30%;
    animation-duration: 10s;
    animation-delay: 1s;
}

.bubble:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 40%;
    animation-duration: 16s;
    animation-delay: 3s;
}

.bubble:nth-child(5) {
    width: 45px;
    height: 45px;
    left: 50%;
    animation-duration: 13s;
    animation-delay: 1.5s;
}

.bubble:nth-child(6) {
    width: 35px;
    height: 35px;
    left: 60%;
    animation-duration: 11s;
    animation-delay: 2.5s;
}

.bubble:nth-child(7) {
    width: 55px;
    height: 55px;
    left: 70%;
    animation-duration: 15s;
    animation-delay: 0.5s;
}

.bubble:nth-child(8) {
    width: 40px;
    height: 40px;
    left: 80%;
    animation-duration: 12s;
    animation-delay: 2s;
}

.bubble:nth-child(9) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 14s;
    animation-delay: 1s;
}

.bubble:nth-child(10) {
    width: 65px;
    height: 65px;
    left: 15%;
    animation-duration: 17s;
    animation-delay: 3.5s;
}

@keyframes rise {
    0% {
        bottom: -100px;
        transform: translateX(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        bottom: 110vh;
        transform: translateX(100px);
        opacity: 0;
    }
}
